<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
		<add key="WStream" value="https://ci.appveyor.com/nuget/wstream" />
    </activePackageSource>
	    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
</configuration>